<div class="profile-header">
    <h3 class="profile-element profile-element__fullname">Your Name Here</h3>
    <a class="text-primary profile-element profile-element__username ">@YourHandleHere</a>
    <p class="text-wrap profile-element profile-element__biography">Your bio goes here in max 140 characters. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab.</p>
    <span class="profile-element profile-element__location"><i class="fas fa-map-marker-alt" style="color: #41abe1"></i> Your location</span>
    <span class="profile-element profile-element__website"><a href="#" class="text-primary"><i class="fas fa-link" style="color: #41abe1"> Primary link</i></a></span>
</div>

<nav class="navbar navbar-expand-sm rounded border border-primary profile-search-user">
    <div class="input-group">
        <input class="form-control py-2 border-right-0 border form-control-header__search" type="search" placeholder="Search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</nav>

<div class="follow-panel bg-white rounded ">
    <span class="follow-panel__header border-bottom">Who to follow
        <a class="follow-panel__link text-primary d-inline-block">View all</a>
    </span>
        <ul class="list-group list-group-flush">
            <li class="list-group-item justify-content-space-between">
                <div class="row justify-content-around">
                    <div class="col-lg-3 my-auto">
                    <img src="img/user1.png" class="">
                    </div>
                    <div class="col-lg-8">
                    <span class="follow-panel__user-data text-wrap font-weight-bold d-block">Giulio Bordonaro </span>
                        <span class="follow-panel__user-data text-secondary font-weight-normal d-block">@GiulioBx</span>
                    <button type="button" class="btn btn-outline-primary follow-panel__button"><i class="fas fa-user-plus follow-panel__follow-icon"></i> Follow</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row justify-content-around">
                    <div class="col-lg-3">
                        <img src="img/user2.png">
                    </div>
                    <div class="col-lg-8">
                        <span class="follow-panel__user-data text-wrap font-weight-bold d-block">Interesting User </span>
                        <span class="follow-panel__user-data text-secondary font-weight-normal d-block">@User</span>
                        <button type="button" class="btn btn-outline-primary follow-panel__button"><i class="fas fa-user-plus follow-panel__follow-icon"></i> Follow</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row justify-content-around">
                    <div class="col-lg-3">
                        <img src="img/user3.png">
                    </div>
                    <div class="col-lg-8">
                        <span class="follow-panel__user-data text-wrap font-weight-bold d-block">Other User </span>
                        <span class="follow-panel__user-data text-secondary font-weight-normal d-block">@Other User</span>
                        <button type="button" class="btn btn-outline-primary follow-panel__button"><i class="fas fa-user-plus follow-panel__follow-icon"></i> Follow</button>
                    </div>
                </div>
            </li>
        </ul>
    <div class="container row">
        <div class="col mt-2"><a class="text-primary follow-panel__link">Find friends</a></div>
    </div>

</div>
<div class="hashtag-panel bg-white rounded ">
    <span class="hashtag__header">Worldwide Trends</span>
    <ul class="hashtag-list">
        <li class="hashtag-list__hashtag"><a class="text-primary">#NewTwitter</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#GBX</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#graphicdesign</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#mockup</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#layout</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#PSD</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#FreeTemplate</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#Lorem</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#ipsum</a></li>
        <li class="hashtag-list__hashtag"><a class="text-primary">#amet</a></li>
    </ul>
</div>