<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm fixed-top">
    <div class="container navbar-container__header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-header">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="./index.html" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-at"></i> Connect</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-hashtag"></i> Discover</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-user"></i> Me</a></li>
                <li class="nav-item nav-item__settings dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="dropDownHeader2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropDownHeader2">
                        <a class="dropdown-item" href="./edit.html">Edit</a>
                        <a class="dropdown-item" href="./main.html">Logout</a>
                    </div>
                </li>
            </ul>
            <a href="./index.html" class="navbar-brand mx-auto navbar-header__logo" style="color: #41abe1"><i class="fab fa-twitter "></i></a>


            <ul class="navbar-nav ml-auto navbar-header__left-nav">
                <li class="nav-item">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border form-control-header__search" type="search" placeholder="Search" id="example-search-input">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-envelope"></i></a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="dropDownHeader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropDownHeader">
                        <a class="dropdown-item" href="./edit.html">Edit</a>
                        <a class="dropdown-item" href="./main.html">Logout</a>
                    </div>
                </li>

                <li class="nav-item" ><a href="#" class="nav-link  navbar-nav__compose-button"><i class="fas fa-feather-alt" style="color: white"></i></a></li>

            </ul>

        </div>
    </div>
</nav>
<div class="profile-background">
    <div class="container">
        <!-- User main avatar -->
        <div class="avatar-container">
            <div class="avatar">

            </div>
        </div>
    </div>
</div>