body{
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color:#e5edf0;
}
.twit-head{
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    height: 30px;
    position: fixed;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
}
.sign-headline{
    width: 60%;
    margin: 7px 20% 7px 20%;
    display: flex;
    justify-content: space-between;
}
.home-about{
    display: flex;
    justify-content: space-between;
}
.fa-home{
    margin-right: 5px; 
}
.hl-home{
    margin-right: 15px;
    transition:0.3s;
}
.hl-about{
    transition:0.3s;
}
.hl__href{
    text-decoration: none;
    color: #788389;
}
.fa-twitter{
    font-size: 18px;
    color: #41abe1;
    transition:0.3s;
}
.registration-page{
    display: flex;
    background-color:#e5edf0 ;
    width: 100%;
}
.registr-container{
    display: grid;
    margin:  50px 25% 20px 25%;
    width: auto;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
}
.registr-bord{
    background-color: #ffffff;
    width: 90%;
    padding: 20px 5% ;
    display: block;
}
.registr-bord__title{
    font-size: 24px;
    margin: 0 0 30px 0;
}
.registr-line{
    margin-bottom: 50px;
}
.registr-first{
    display: flex;
    justify-content: space-between;
}
.reg-style{
    outline: none;
    width: 100%;
    height: 30px;
    border-style: none;
    border-bottom-style: inset;
    transition:0.3s;
    border-color:#c0c0c0;
}
.reg-style-2{
    width: 48%;
    transition:0.3s;
}
.registr__text{
    margin: 5px 0;
    font-size: 12px;
    color: #c0c0c0;
}
.registr-submit__btn{
    color: #ffffff;
    background-color: #41abe1;
    padding: 7px 15px;
    border: none;
    border-radius: 100vh;
    transition:0.3s;
    outline: none;
}
.submit__link{
    text-decoration: none;
}
.registr-footer{
    display: flex;
    background-color: rgb(245, 249, 250);
    padding:30px 5%;
    width: 90%;
}
.registr-footer__question{
    padding-right: 3px;
}
.registr-footer__question,.registr-footer__log-href{
    text-decoration: none;
    margin: 0;
    font-size: 14px;
}
.registr-footer__log-href{
    color:#41abe1 ;
}
.registr-submit__btn:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.fa-twitter:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.hl-about:hover{
    transition: all 0.3s ease;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.hl-home:hover{
    transition: 0.3s;
    text-shadow: 0 0 .5px #333, 0 0 .5px #333;
}
.hl-home:hover .fa-home{
    transition: all 0.3s ease;
    transform: scale(1.05);
}
.reg-style:hover{
    transition: all 0.3s ease;
    border-color:#41abe1 ;
}
.reg-style:focus{
    border-color:#41abe1 
}
.reg-date{
    color: -internal-light-dark-color(black, white);
}
@media (max-width:764px){
    .twit-head{
        height: 40px;
        font-weight: bold;
        font-size: 20px;
    }
    .sign-headline{
        width: 80%;
        margin: 10px 15%;
    }
    .fa-twitter{
        font-size: 22px;
    }
    .registr-container{
        width: 80%;
        margin: 60px 10% 20px 10%;
    }
    .registr-bord__title{
        font-size: 28px;
    }
    .registr__text{
        font-size: 14px;
    }
}
@media (max-width:500px){
    .sign-headline{
        width: 80%;
        margin: 10px 15%;
    }
    .registr__text{
        font-size: 10px;
    }
    .registr-first{
        display: block;
    }
    .reg-style-2{
        display: block;
        width: 100%;
    }
    .reg-style-3{
        margin-bottom: 30px;
    }
    .registr-line{
        margin-bottom: 30px;
    }
}
@media (max-width:380px){
    .registr-container{
        width: 90%;
        margin: 50px 5% 20px 5%;
    }
    .sign-headline{
        width: 80%;
        margin: 10px 15%;
    }
}