.search__profile-header {
    width: 100%;
    height: 300px;
}
.search__profile-header-bg {
    height: 40%;
    background-color: #007bff;
}
.search-profile-header__avatar-container {
    bottom: -75px;
    left: 0;
    position: relative;

    transition: bottom .3s;
    z-index: 3;
}
.search-profile-header__avatar {
    background-color: #41abe1;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 70px;
    position: absolute;
    width: 70px;
}
.edit__user {
    margin-top: 30px;
}
.edit__fullname {
    display: block;
    font-size: 14px;
}
.edit__username {
    display: block;
    font-size: 14px;
}
.user__twt{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
.user__tff{
    font-size: 18px;
    color:#41abe1;
}
.find__l-f-name{
    color:#41abe1;
}
.find__username{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.find__avatar{
    background-color: #41abe1;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}
.search-result{
    border-radius: 5px;
    margin-bottom: 2px;
}
.follow-find-res{
    font-size: 10px;
    color: #ffffff;
    background-color: #41abe1;
    width: 108px;
    padding: 3px 0px;
    border: none;
    border-radius: 16px;
    transition:0.3s;
    outline: none;
}
.follow-find-res:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.05);
}
.fix-some-pos{
    margin-top: -5px;
}
@media(min-width:768px){
    .user__how-much{
        justify-content: space-between;
    }
}
@media (max-width:991px){
    .user__twt{
        font-size: 12px;
    }
    .user__tff{
        font-size: 16px;
    }
}
@media (max-width:767px){
    .user__twt{
        font-size: 15px;
    }
    .user__tff{
        font-size: 18px;
    }
}
