.edit__profile-header {
    width: 100%;
    height: 200px;
}
.edit__profile-header-bg {
    height: 50%;
    background-color: #007bff;
}
.edit-profile-header__avatar-container {
    bottom: -55px;
    left: 0;
    position: relative;

    transition: bottom .3s;
    z-index: 3;
}
.edit-profile-header__avatar {
    background-color: #41abe1;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 70px;
    position: absolute;
    width: 70px;
}
.edit__user {
    margin-top: 30px;
}
.edit__fullname {
    display: block;
    font-size: 14px;
}
.edit__username {
    display: block;
    font-size: 14px;
}

.edit__updatebtn {
    padding: 3px;
    border-radius: 5px;
    height: 45px;
    color: white;
    background-color: #007bff;
    transition: ease-in-out .3s;
    outline: none;
    border: 2px solid #007bff;
    &:not([disabled]):hover {
        color: #007bff;
        background-color: white;
        border: 2px solid #007bff;
    }
    &:disabled {
        background-color: #489cca;
        border-color: #489cca;
    }
}

.edit__input-field {
    border-radius: 0;
    border-style: none;
    border-bottom: 2px solid #c0c0c0;
    outline: none!important;
    box-shadow: none!important;
    transition: border-bottom-color ease-in-out .3s;
    &:focus {
        outline: none;
        box-shadow: none;

    }
    &:hover {
        border-color: #007bff;
    }
}

.edit__invalid {
    border-color: red !important;
}

.helper-text {
    position: relative;
    font-size: 12px;
}
.edit__input-field .is-invalid + .invalid-feedback {
    display: block!important;
    color: red!important;
}
#editBio {
    resize: none;
    overflow-y: hidden;
    height: 24px;
}