.tweets__new-tweet {
    background-color: rgba(112, 181, 255, 0.15);
    border-color: rgba(112, 181, 255, 0.15);

}
#tweetsNewTweet {
    resize: none;
    overflow-y: hidden;
    border: none;
    border-radius: 0;
    box-shadow: none;
    &:hover,
    &:focus{
        box-shadow: 0 3px #007bff;
    }
}
.invalid-tweet {
    box-shadow:0 3px red!important;
}