@import "sign/sign";
@import "sign/login";
@import "sign/signup";
@import "pages/edit";
@import "pages/search-page";
@import "pages/user-page";
@import "section1";
@import "section2";
@import "section3";
.page-container {
    background-color: #f5f8fa;
    min-width: 320px;
}

body {
    min-width: 320px;
    background-color: #f5f8fa;
}

.m-login {
    margin-bottom: 50px;
}